@charset "utf-8";

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7;
    letter-spacing: 0;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}